/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 .excelify-header{
	background: linear-gradient(90deg, rgba(20,119,0,1) 0%, rgba(153,181,0,1) 35%, rgba(63,179,0,1) 100%);
	 text-align:center;
	 padding:1rem;
	 
 }
  .excelify-header h1{
	  color:#fff;
	  font-size:32px;
	  font-weight:700;
  }
  
  .excelify-main{
	  padding:1rem;
  }
